@font-face {
    font-family: txt;
    src: url(HelveticaNeue-Regular.ttf);
}
:root{
    --navcolor:#1F9C6A;
    --txtboxbackcolor:#473434; 
    --txtfont: txt;
}

body{
    margin: 0px;
}

header{
    display: flex;
    width: 100%;
    background-color: var(--navcolor);
    justify-content: space-between;
    
}

h1{
    font-family: source-serif-4, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 49pt;
}

h2{
    font-family: source-serif-4, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 23pt;
}

h3{
    font-family: source-serif-4, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18pt;
}

 footer{
    width: 100%;
    background-color: var(--navcolor);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer p{
    font-size: 10pt;
    color: rgb(226, 226, 226);
    text-align: center;
}

/* Footer fra Swing Project modificeret */
.footer-main{
    clear: both;
    background-color: var(--navcolor);
    display: flex;
    flex-direction: row;
    margin-top: 25px;   
}
.footer-main article{
    border: none;
    height: 100%;
}
.footer h3{
    margin-block-start: 0;
    margin-block-end: 0;
    display: block;
    color: #61ebb4;
    font-size: 12pt;
}
.footer{
    text-align: center;
    padding: 10px;
}
.footer-main img{
    margin-left: 2%;
    width: 55px;
    height: 55px;
}

/*INDEX*/

/*Sections med billeder der scrolles forbi, med kodehjælp fra Web Zone: https://www.youtube.com/watch?v=mDwKr85NeXw&t=159s*/
.banner1,
.parallax-box,
.parallax-box2{
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner1{
    background-image: url(./billeder-til-site/index/Bannerbillede-reverse2.jpg);
    color: white;
    height: 170px;
    padding-bottom: 20px;

}

/*Max width med auto margin ses mange stedere, som hjælper med at centrere indhold, så bruger ikke skal anstrenge øjnene for at se det hele.*/
.banner1 h1{
    max-width: 354px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 103px;
    padding-bottom: 20px;
    margin-top: 0px;
}

.inner-content-box{
    display: flex;
    flex-direction: column;
}

.parallax-box{
    background-image: url(./billeder-til-site/index/vægplanter.jpg);
}

.parallax-box2{
    background-image: url(./billeder-til-site/index/planteleksikonbilledestor.jpg);
}

.examples-box{
    display: flex;
    flex-direction: row;
}

/*Baggrundsbokse der gør teksten læsbare i 'parallax' sections.*/
.parallax-box h2,
.parallax-box h3,
.parallax-box p,
.parallax-box2 h2,
.parallax-box2 h3,
.parallax-box2 p{
    background-color: var(--txtboxbackcolor);
    color: white;
    padding: 9px 33px 9px 9px;
    border-radius: 10px;
}

.examples-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.examples-box img{
    width: 172px;
}

.content-box2 img{
    width: 180px;
}

.blank-box img{
    width: 82px;
}

/*Overflow-x, gør at al indhold forbi x-aksen på skærmens størrelse, ikke vises. Dette fjerne irriterende sidescroll, og hjalp med at tilpasse indholdet så intet gik tabt. Hjulpet herfra: https://www.tomred.net/css-html-js/disable-or-enable-horizontal-or-vertical-scrollbar.html*/
.txt-box,
.blank-box,
.content-box,
.content-box1,
.content-box2,
.examples-box,
.parallax-box,
.parallax-box2, 
.inner-content-box{
    overflow-x: hidden;
}

.blank-box,
.parallax-box,
.parallax-box2{
    width: 100%;

/*Ud fra XD filen og brug af grids, vides det hvor mange pixels den må være bred. Her bruges max-width også, så siden er skalerbar.
Der er lavet flere flexboxes, da de alle havde forskellige funktioner på siden. Dette har dog resulteret i en del divs.*/    
}
.content-box,
.content-box1{
    margin: auto;
    max-width: 354px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.content-box2{
    margin: auto;
    max-width: 354px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*Til indhold der skal placeres over hinanden, specielt tekst*/
.txt-box,
.parallax-box2{
    display: flex;
    flex-direction: column;
}

.blank-box,
.parallax-box{
    width: 100%;
}

p{
    font-family: txt;
    font-size: 15pt;
}


/*Køb*/



.nav-buy{
    width: 55px;
    height: 55px;
    margin-left: 10px;
    margin-top: 5px;
}

.banner{
    position: relative;

}
.banner h1{
    position: absolute;
    color: white;
    font-size: 49pt;
    margin-top: 92px;
    margin-left: 37px;

    font-size: min(34pt);
    font-size: auto;
    /* indsæt displayfonten  
    font-family: ;
    */
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 170px;
}
.buy{
    background-image: url(imgs/bgHomePc.jpg);
    background-size: cover;
    background-position-x: -100px;
    background-position-y: -20px;
    margin: 0;
    margin-top:-2em;
}

.buy h2{
    font-size: 34pt;
    font-family: txt;
    margin-bottom: 0;
}

.handlere {
    display: flex;
    background-color: white;
    padding: 9px;
    height: 56px;
    /* background-color: white; */
    border: 1px solid black;
    border-radius: 11px 11px 0 0;
}
.handlere input{
    width: 100%;
    height: 39px;
    margin: 8px;
}
.frame{
    display: block;
    border-radius: 11px;
    margin-left: min(37px,5%);
    margin-left: max(auto);
    margin-right: min(37px,5%);
    margin-right: max(auto);
}
.container{
    border-radius: 11px;
}
.btn, .btn2{
    text-decoration: none;
    color: black;
    width: 100%;
    background: #D99559;
    border: 3px solid black;
    border-radius: 10px;
    font-family: source-serif-4, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
    text-align: center;
}
.btn-køb{
    width: 100%;
    padding-left: 28%;
    padding-right: 28%;
    margin-left: auto;
    margin-right: auto;
}

.frame img{
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: solid gray 1px;
    border-radius: 0 0 20px 20px;
    margin-left: auto;
    margin-right: auto;
}
.product{
    display: block;
    object-fit: cover;
    width: 354px;
    height: 215px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0 0 0 0;
}
/* Til Købs siden slut */

/* Blogs siden start */
#blogMain{
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-left: 0;
}
article{
    height: 400px;
    border: 1px solid gray;
    flex: 25%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.blogs{
    text-decoration: none;
}
.blogs:hover{
    color: white;
    background-color: var(--navcolor);
}
.blogs:hover img{
    filter: brightness(0) invert(1)
}
#search input{
    margin-right: auto;
    width: 40%;
    padding-top: 10px;
    height: 30px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/* Blogs siden slut */
.topnav {
    overflow: hidden;
    background-size: cover;
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

#myLink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20rem;

}

  /* Style navigation menu links */
  .topnav a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
    text-align: right;
    
  }
  .burger-btn {
      position: absolute;
      right: 10px;
      top: 5px;
  }

  .icon {
      width: 40px;
      height: 50px;
      display: flex;
      flex-direction: column;
    justify-content: space-evenly;
  }

  .bar {
      height: 5px;
      width: 100%;
      background-color: #fff;
      border-radius: 5rem;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
 
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: white;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    
    color: white;
    font-family: coquette, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    
}

nav{
    background-color: var(--navcolor);
}
@media screen and (min-width:720px){
    header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: var(--navcolor);
    }

    /* Købs Siden */
    .buy{
        background-position-x: -600px;
        background-position-y: -15px;
        /* height: 255vh; */
    }
    .banner h1{
        margin-left: 15%;
        font-size: 70pt;
        position: absolute;
        bottom: -0.5em;
    }
    .container{
        background: white;
        border: solid gray 2px;
        position: relative;
        padding-bottom: 138px;
    }
    .frame{
        width: 68vw;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-position{
        position: absolute;
        left: 50%;
        top: 87%;
        transform: translate(-50%,-50%);
        bottom: 43px;
        text-align: center;
    }
    .btn-køb{
        width: 30%;
        padding-top: 10px;
        height: 54px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .frame img{
        width: 100%;
    }
    #product{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        border-radius: 0;
    }

    /*INDEX*/
    .banner1 h1{
        max-width: 812px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 103px;
        padding-bottom: 20px;
    }

    .content-box,
    .content-box1{
        margin: auto;
        max-width: 812px;
        padding-top: 24px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    .content-box2{
        margin: auto;
        max-width: 812px;
        padding-top: 24px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .examples-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .parallax-box h2,
    .parallax-box h3,
    .parallax-box2 h2,
    .parallax-box2 h3{
        max-width: 400px;
    }
    .parallax-box p,
    .parallax-box2 p{
        max-width: 260px;
    }

    .parallax-box2{
        justify-content: space-evenly;
    }

    .blank-box .txt-box p{
        max-width: 300px;
    }

    .blank-box img{
        width: 250px;
    }

    .parallax-box img{
        width: 300px;
    }

    .inner-content-box p{
        max-width: 800px;
    } 

    .inner-content-box h2{
        max-width: 400px;
        text-align: left;
    }

    .btn2{
        height: 200px;
        width: 400px;
    }
    
    .content-box1{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .blank-box .content-box h2,
    .blank-box .content-box p{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .parallax-box2 img{
        width: 250px;
    }

    .parallax-box{
        background-image: url(./billeder-til-site/index/eksempel2.jpg);
    }

    .parallax-box2{
        background-image: url(./billeder-til-site/index/planteleksikonbillede.jpg);
    }

    /* Blogs siden start */
    #blogMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 20px;
        margin-right: 10%;
        margin-left: 10%;
    }
    article{
        height: 100%;
        border: 1px solid gray;
        flex: 25%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }
    .blogs{
        text-decoration: none;
    }
    .blogs:hover{
        color: white;
        background-color: var(--navcolor);
    }
    .blogs:hover img{
        filter: brightness(0) invert(1)
    }
    #search input{
        margin-left: 10%;
        margin-right: auto;
        width: 30%;
        padding-top: 10px;
        height: 54px;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 30px;
        margin-bottom: 10px;
    }
   
    #cpu{display: none;}
  .topnav{
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      margin-left: 50%;
  }
 
  .topnav a{
      display: inline-flex;
  }
  #mylinks{  
    float: right;
}


  .btnfaq{
      width: 50%;
  }
  .faq{
      margin-left: 20%;
      margin-right: 20%;
  }

}
