@font-face {
    font-family: txt;
    src: url(HelveticaNeue-Regular.ttf);
}
:root{
    --navcolor:#1F9C6A;
    --txtboxbackcolor:#473434; 
    --txtfont: txt;
}

body{
    margin: 0px;
}

h1{
    font-family: source-serif-4, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 49pt;
}

h2{
    font-family: source-serif-4, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 23pt;
}

h3{
    font-family: source-serif-4, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18pt;
}

 footer{
    width: 100%;
    background-color: var(--navcolor);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer p{
    font-size: 10pt;
    color: rgb(226, 226, 226);
    text-align: center;
}

/* Footer fra Swing Project modificeret */
.footer-main{
    clear: both;
    background-color: var(--navcolor);
    display: flex;
    flex-direction: row;
    margin-top: 25px;   
}
.footer-main article{
    border: none;
    height: 100%;
}
.footer h3{
    margin-block-start: 0;
    margin-block-end: 0;
    display: block;
    color: #61ebb4;
    font-size: 12pt;
}
.footer{
    text-align: center;
    padding: 10px;
}
.footer-main img{
    margin-left: 2%;
    width: 55px;
    height: 55px;
}

/*INDEX*/
.banner1,
.parallax-box,
.parallax-box2{
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}



.banner1{
    background-image: url(./billeder-til-site/index/Bannerbillede-reverse2.jpg);
    color: white;
    height: 170px;
    padding-bottom: 20px;

}

.banner1 h1{
    max-width: 354px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 103px;
    padding-bottom: 20px;
}

.inner-content-box{
    display: flex;
    flex-direction: column;
}

.parallax-box{
    background-image: url(./billeder-til-site/index/plantevejledningsbillede.jpg);
}

.parallax-box2{
    background-image: url(./billeder-til-site/index/planteleksikonbillede.jpg);
}

.examples-box{
    display: flex;
    flex-direction: row;
}

.parallax-box h2,
.parallax-box h3,
.parallax-box p,
.parallax-box2 h2,
.parallax-box2 h3,
.parallax-box2 p{
    background-color: var(--txtboxbackcolor);
    color: white;
    padding: 9px 33px 9px 9px;
    border-radius: 10px;
}

.examples-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.examples-box img{
    width: 172px;
}

.content-box2 img{
    width: 180px;
}

.blank-box img{
    width: 82px;
}

.txt-box,
.blank-box,
.content-box,
.content-box2,
.examples-box,
.parallax-box,
.parallax-box2, 
.inner-content-box{
    overflow-x: hidden;
}

.blank-box,
.parallax-box,
.parallax-box2{
    width: 100%;
}
.content-box{
    margin: auto;
    max-width: 354px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.content-box2{
    margin: auto;
    max-width: 354px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.txt-box,
.parallax-box2{
    display: flex;
    flex-direction: column;
}
.nav-buy img{
    width: 55px;
    height: 55px;
    margin-left: 47px;
    margin-top: 5px;
}
.banner{
    position: relative;

}
.banner h1{
    position: absolute;
    color: white;
    font-size: 49pt;
    margin-top: 92px;
    margin-left: 37px;

    font-size: min(34pt);
    font-size: auto;
    /* indsæt displayfonten  
    font-family: ;
    */
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 170px;
}
.buy{
    background-image: url(imgs/bgHomePc.jpg);
    background-size: cover;
    background-position-x: -100px;
    background-position-y: -20px;
    margin: 0;
    margin-top:-2em;
}


.blank-box,
.parallax-box{
    width: 100%;
}
.content-box{
    margin: auto;
    max-width: 354px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
}

.txt-box{
    flex-direction: column;
}

p{
    font-family: txt;
    font-size: 15pt;
}

.buy h2{
    font-size: 34pt;
    font-family: txt;
    margin-bottom: 0;
}

/*Køb*/

.handlere {
    display: flex;
    background-color: white;
    padding: 9px;
    height: 56px;
    /* background-color: white; */
    border: 1px solid black;
    border-radius: 11px 11px 0 0;
}
.handlere input{
    width: 100%;
    height: 39px;
    margin: 8px;
}
.frame{
    display: block;
    border-radius: 11px;
    margin-left: min(37px,5%);
    margin-left: max(auto);
    margin-right: min(37px,5%);
    margin-right: max(auto);
}
.container{
    border-radius: 11px;
}
.btn{
    text-decoration: none;
    color: black;
    width: 100%;
    background: #D99559;
    border: 1px solid gray;
    border-radius: 6px;
    font-family: txt;
    font-size: 24pt;
    text-align: center;
}
.btn-køb{
    width: 100%;
    padding-left: 28%;
    padding-right: 28%;
    margin-left: auto;
    margin-right: auto;
}

.frame img{
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: solid gray 1px;
    border-radius: 0 0 20px 20px;
    margin-left: auto;
    margin-right: auto;
}
.product{
    display: block;
    object-fit: cover;
    width: 354px;
    height: 215px;
    margin-right: auto;
    margin-left: auto;
}
/* Til Købs siden slut */

/* Blogs siden start */
#blogMain{
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-left: 0;
}
article{
    height: 400px;
    border: 1px solid gray;
    flex: 25%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}
.blogs{
    text-decoration: none;
}
.blogs:hover{
    color: white;
    background-color: var(--navcolor);
}
.blogs:hover img{
    filter: brightness(0) invert(1)
}
#search input{
    margin-right: auto;
    width: 40%;
    padding-top: 10px;
    height: 30px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
/* Blogs siden slut */

@media screen and (min-width:720px){


    /* Købs Siden */
    .buy{
        background-position-x: -600px;
        background-position-y: -15px;
        /* height: 255vh; */
    }
    .banner h1{
        margin-left: 15%;
        font-size: 70pt;
        position: absolute;
        bottom: -0.5em;
    }
    .container{
        background: white;
        border: solid gray 2px;
        position: relative;
        padding-bottom: 138px;
    }
    .frame{
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-position{
        position: absolute;
        left: 62%;
        top: 90%;
        transform: translate(-50%,-50%);
        bottom: 43px;
        text-align: center;
    }
    .btn-køb{
        width: 30%;
        padding-top: 10px;
        height: 54px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .frame img{
        width: 100%;
    }
    #product{
        width: 60%;
        height: 570px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        border-radius: 0;
    }

    /*INDEX*/
    .banner1 h1{
        max-width: 812px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 103px;
        padding-bottom: 20px;
    }

    .content-box{
        margin: auto;
        max-width: 812px;
        padding-top: 24px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    .content-box2{
        margin: auto;
        max-width: 812px;
        padding-top: 24px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .examples-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .parallax-box h2,
    .parallax-box h3,
    .parallax-box2 h2,
    .parallax-box2 h3{
        max-width: 400px;
    }
    .parallax-box p,
    .parallax-box2 p{
        max-width: 260px;
    }

    .parallax-box2{
        justify-content: space-evenly;
    }


    /* Blogs siden start */
    #blogMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 20px;
        margin-right: 10%;
        margin-left: 10%;
    }
    article{
        height: 100%;
        border: 1px solid gray;
        flex: 25%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }
    .blogs{
        text-decoration: none;
    }
    .blogs:hover{
        color: white;
        background-color: var(--navcolor);
    }
    .blogs:hover img{
        filter: brightness(0) invert(1)
    }
    #search input{
        margin-left: 10%;
        margin-right: auto;
        width: 30%;
        padding-top: 10px;
        height: 54px;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 30px;
        margin-bottom: 10px;
    }
    /* Blogs siden slut */
}
.topnav {
    overflow: hidden;
    background-image: url(images/logobanner.png);
    background-size: cover;
    position: relative;
    margin: 0;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    display: block;
    text-align: right;
    
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
 
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    
    color: white;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    
    color: white;
    font-family: coquette, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0px;
    
}

nav{
    background-color: var(--navcolor);
}