@font-face {
    font-family: txt;
    src: url(HelveticaNeue-Regular.ttf);
}
:root{
    --navcolor:#1F9C6A;
    --txtboxbackcolor:#473434; 
    --hovercolor
    --clickcolor
    --txtfont: txt;
}

body{
    margin: 0px;
}

h1{
    font-family: source-serif-4, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 49pt;
}

h2{
    font-family: source-serif-4, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30pt;
}

h3{
    font-family: source-serif-4, serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18pt;
}

.blank-box,
.parallax-box,
.parallax-box2{
    width: 100%;
}
.content-box{
    margin: auto;
    max-width: 354px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.content-box2{
    margin: auto;
    max-width: 354px;
    padding-top: 24px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
}

.txt-box,
.parallax-box2{
    display: flex;
    flex-direction: column;
}

p{
    font-family: txt;
    font-size: 15pt;
}

/* Til Købs siden */
.nav-buy{
    display: flex;
    background-color: var(--navcolor);
    height: 65px;
}
.nav-buy ul{
    list-style: none;
    margin-left: auto;
    margin-right: 10%;
}
.nav-buy a{
    padding: 0.6em;
    text-decoration: none;
    color: white;
}
.nav-buy a:hover{
    color: black;
}
.nav-buy img{
    width: 55px;
    height: 55px;
    margin-left: 47px;
    margin-top: 5px;
}
.banner{
    position: relative;

}
.banner h1{
    position: absolute;
    color: white;
    font-size: 49pt;
    margin-top: 92px;
    margin-left: 37px;

    font-size: min(34pt);
    font-size: auto;
    /* indsæt displayfonten  
    font-family: ;
    */
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 170px;
}
.buy{
    background-image: url(imgs/bgHomePc.jpg);
    background-size: cover;
    background-position-x: -100px;
    background-position-y: -20px;
    margin: 0;
    margin-top:-2em;
}
.buy h2{
    font-size: 34pt;
    font-family: txt;
    margin-bottom: 0;
}
.handlere {
    display: flex;
    background-color: white;
    padding: 9px;
    height: 56px;
    /* background-color: white; */
    border: 1px solid black;
    border-radius: 11px 11px 0 0;
}
.handlere input{
    width: 100%;
    height: 39px;
    margin: 8px;
}
.frame{
    display: block;
    border-radius: 11px;
    margin-left: min(37px,5%);
    margin-left: max(auto);
    margin-right: min(37px,5%);
    margin-right: max(auto);
}
.container{
    border-radius: 11px;
}
.btn{
    text-decoration: none;
    color: black;
    width: 100%;
    background: #D99559;
    border: 1px solid gray;
    border-radius: 6px;
    font-family: txt;
    font-size: 24pt;
    text-align: center;
}
.btn-køb{
    width: 100%;
    padding-left: 28%;
    padding-right: 28%;
    margin-left: auto;
    margin-right: auto;
}

.frame img{
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: solid gray 1px;
    border-radius: 0 0 20px 20px;
    margin-left: auto;
    margin-right: auto;
}
.product{
    display: block;
    object-fit: cover;
    width: 354px;
    height: 215px;
    margin-right: auto;
    margin-left: auto;
}
.kfooter{
    background-color: var(--navcolor);
}
.kfooter img{
    width: 55px;
    height: 55px;
}
/* Til Købs siden slut */


.banner1,
.parallax-box,
.parallax-box2,
.banner1{
    background-attachment: fixed;
    background-size: 100%;

}

.banner1{
    background-image: url(./billeder-til-site/index/Bannerbillede-reverse.jpg);
    color: white;
    height: 170px;
    padding-bottom: 20px;

}

.banner1 h1{
    max-width: 354px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 103px;
    padding-bottom: 20px;
}

.inner-content-box{
    display: flex;
    flex-direction: column;
}

.parallax-box{
    background-image: url(./billeder-til-site/index/plantevejledningsbillede2.jpg);
}

.parallax-box2{
    background-image: url(./billeder-til-site/index/planteleksikonbillede.jpg);
}

.examples-box{
    display: flex;
    flex-direction: row;
}

@media screen and (min-width:720px){


    /* Købs Siden */
    .buy{
        background-position-x: -600px;
        background-position-y: -15px;
        height: 255vh;
    }
    .banner h1{
        margin-left: 15%;
        font-size: 70pt;
        position: absolute;
        bottom: -0.5em;
    }
    .container{
        background: white;
        border: solid gray 2px;
        position: relative;
        padding-bottom: 138px;
    }
    .frame{
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-position{
        position: absolute;
        left: 62%;
        top: 90%;
        transform: translate(-50%,-50%);
        bottom: 43px;
        text-align: center;
    }
    .btn-køb{
        width: 30%;
        padding-top: 10px;
        height: 54px;
        padding-left: 3%;
        padding-right: 3%;
    }
    .frame img{
        width: 100%;
    }
    #product{
        width: 60%;
        height: 570px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        border-radius: 0;
    }
    .kfooter{
        margin-top: 4em;
    }
}