h1 {
    font-size: 19pt;
    color: var();
}
body {
    background-image: url('/imgs/bgHomePC.jpg');
    /* background-repeat: no-repeat; */
  }

.flex-container {
display: flex;
    /* float: left; */
    flex-direction: column;
    align-items: center;

}
@media only screen and (min-width: 400px) {
    .flex-container {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
     }
}

.button-try-preview {
    font-weight: bold;
    border: brown;
    color: rgb(0, 0, 0);
    background-color: #D99559;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    max-height: fit-content;
    cursor: pointer;
    box-shadow: 0 4px #473434;
    width: 150px;
    margin-top: 30px;
}
.button-try-preview:hover {background-color: #d8a273}

.button-try-preview:active {
  background-color: #d8a273;
  box-shadow: 0 2px #473434;
  transform: translateY(4px);
}

.flex-container video {
    width: 100%;
}
@media only screen and (min-width: 400px)   {
    .flex-container video {
        width: 200px;
    }
    .button-try-preview {
        width: 200px;
    }
    .flex-container .previewvid {
        margin-right: 10%;
    }
}
.vid-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.vid-list li {
    display: inline;
 
 
}
.vid-list iframe {
    border-color: #473434;
}