.flex-container {

display: flex;
    /* float: left; */
    flex-direction: column;
    align-items: center;

}
@media screen and (min-width: 500px) {
    .flex-container {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
     }
}



.button-try-preview {
    font-weight: bold;
    border: brown;
    color: rgb(0, 0, 0);
    background-color: #D99559;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    max-height: fit-content;
    cursor: pointer;
    box-shadow: 0 4px #473434;
    width: 50%;
}
.button-try-preview:hover {background-color: #d8a273}

.button-try-preview:active {
  background-color: #d8a273;
  box-shadow: 0 2px #473434;
  transform: translateY(4px);
}
.flex-container .previewvid {
    margin-right: 10%;
}